/** Shortcodes **/
.btn {
    text-align: center;
    &.flat {
        @include btn('flat', $heading_color, 0px, 15px 30px);
    }
    &.rounded {
        @include btn('flat', $heading_color, 5px, 15px 30px);
    }
    &.border {
        @include btn('border', $heading_color, 0px, 15px 30px);
    }
    &.pressed {
        @include btn('pressed', $heading_color, 0px, 15px 30px);
    }
}

.phone {
    &:before {
        @include fa('phone');
        padding-right: 10px;
    }
}
