/** Tabbed Widget **/
.widget_mb_tabbed {
    ul {
        &.etabs {
            list-style: none;
            margin: 0;
            // margin-bottom: -1px;
            padding: 0;
            width: 100%;
            border-bottom: 1px solid $heading_color;
            font-size: 0;
            margin-bottom: 30px;
            li {
                display: inline-block;
                a {
                    margin-left: 15px;
                    font-size: 18px;
                    display: block;
                    padding: 15px;
                    line-height: 1;
                    text-transform: uppercase;
                    background: $heading_color;
                    color: $light_color;
                    border: 1px solid $heading_color;
                    border-bottom: none;
                    margin-bottom: -1px;
                }
                &.active {
                    a {
                        background: $light_color;
                        color: $heading_color;
                    }
                }
                &:first-child {
                    a {
                        margin-left: 0;
                    }
                }
            }
        }
    }
    .tabs {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
}

/** Masonry Widget **/
.widget_mb_masonry {
    .masonry-widget {
        margin: 0 -15px;
        // margin-left: -30px;
        // margin: 0 -30px;
        // margin-right: -60px;
    }
    .item {
        @include border-box();
        width: 25%;
        // padding: 15px;
        margin: 0;
        @include tablet {
            width: 50%;
        }
        @include mobile {
            width: 100%;
        }
        &.size22, &.size21 {
            width: 50%;
            @include mobile {
                width: 100%;
            }
        }
        .post-content {
            margin: 15px;
            position: relative;
            text-align: left;
            img {
                width: 100%;
            }
            .post-details {
                background: rgba(black, 0.5);
                padding: 20px;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                .byline {
                    margin-bottom: 0;
                    a {
                        color: #fff;
                    }
                }
                h2 {
                    font-size: 18px;
                    text-transform: uppercase;
                    a {
                        color: $light_color;
                        &:hover {
                            color: $heading_color;
                        }
                    }
                }
            }
        }
    }
}

/** Testimonial Widget **/
.widget_mb_testimonial {
    /* clearfix */
    .owl-carousel .owl-wrapper:after {
    	content: ".";
    	display: block;
    	clear: both;
    	visibility: hidden;
    	line-height: 0;
    	height: 0;
    }
    /* display none until init */
    .owl-carousel{
    	display: none;
    	position: relative;
    	width: 100%;
    	-ms-touch-action: pan-y;
    }
    .owl-carousel .owl-wrapper{
    	display: none;
    	position: relative;
    	-webkit-transform: translate3d(0px, 0px, 0px);
    }
    .owl-carousel .owl-wrapper-outer{
    	overflow: hidden;
    	position: relative;
    	width: 100%;
    }
    .owl-carousel .owl-wrapper-outer.autoHeight{
    	-webkit-transition: height 500ms ease-in-out;
    	-moz-transition: height 500ms ease-in-out;
    	-ms-transition: height 500ms ease-in-out;
    	-o-transition: height 500ms ease-in-out;
    	transition: height 500ms ease-in-out;
    }

    .owl-carousel .owl-item{
    	float: left;
    }
    .owl-controls .owl-page,
    .owl-controls .owl-buttons div{
    	cursor: pointer;
    }
    .owl-controls {
    	-webkit-user-select: none;
    	-khtml-user-select: none;
    	-moz-user-select: none;
    	-ms-user-select: none;
    	user-select: none;
    	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    /* mouse grab icon */
    .grabbing {
        cursor:url(grabbing.png) 8 8, move;
    }

    /* fix */
    .owl-carousel  .owl-wrapper,
    .owl-carousel  .owl-item{
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility:    hidden;
        -ms-backface-visibility:     hidden;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
    }

    .owl-buttons {
        font-size: 36px;
        line-height: 1;
        div {
            width: 36px;
            height: 36px;
            position: absolute;
            left: auto;
            top: 50%;
            margin-top: -18px;
            &.owl-prev {
                @include fa('chevron-left');
                left: -60px;
            }
            &.owl-next {
                @include fa('chevron-right');
                right: -60px;
            }
        }
    }

    .owl-pagination {
        width: 100%;
        text-align: center;
        .owl-page {
            display: inline-block;
            & > span {
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin-right: 10px;
                background: $heading_color;
            }
            &.active {
                & > span {
                    background: $grey_regular;
                }
            }
        }
    }

    .testimonial-container {
        text-align: center;
        .testimonial-content {

        }
        .testimonial-details {
            img {
                margin: 0 auto 15px;
                border-radius: 50%;
            }
        }
    }
    .no-slide {
        .testimonial-container {
            margin-bottom: $col_margin;
            // text-align: left;
        }
    }
}

/** Button Widget **/
.widget_mb_button {
    .btn {
        text-align: center;
        &.flat {
            @include btn('flat', $heading_color, 0px, 15px 30px);
        }
        &.rounded {
            @include btn('flat', $heading_color, 5px, 15px 30px);
        }
        &.border {
            @include btn('border', $heading_color, 0px, 15px 30px);
        }
        &.pressed {
            @include btn('pressed', $heading_color, 0px, 15px 30px);
        }
    }
}
